.right h1{
    font-family: "Orelega One", serif;
}

.right p {
    width: 80%;
    font-size: 17px;
}
.btns a{
    text-decoration: none;
    color: white;
}

.btns{
    display: flex;
    flex-direction: column;
}
.right button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-family: "Orelega One", serif;
    padding: 10px 15px 10px 15px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #006AFF;
    border-radius: 5px;
    color: white
}

.right button:active{
    scale: 1.05;;
}

.right div {
    padding-bottom: 20px;
}

.left img{
    border-radius: 15px;
    width: 200px;
    height: 400px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.left img:hover{
    scale: 1.05;
    transition: .4s all ease-in-out;
}
.left {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.landing-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 50px 0px 50px;
    align-items: center;
    background: #E8F1FF;
}

.left .lef-2{
    position: relative;
    bottom: 90px;
}

.left .lef-3{
    position: relative;
    top: 40px;
}



@media (max-width:1024px) {
    .landing-container{
        padding: 30px;
    }

    .left img{ 
        max-width: 147px;
        max-height: 285px;
    }

    .left{
        gap: 15px;
    }

    .right button{
        font-size: 13px;
    }
}

@media (max-width:768px) {
    .landing-container{
        flex-direction: column;
        justify-content: space-between;
        height: 120vh;
    }
    .left img{ 
        max-width: 150px;
        max-height: 300px;  
        margin-top: 0px;
   }
   .left .lef-2 {
    position: relative;
    bottom: 18px;
}

.testimonial {
    width: 90%;
}

.testi-one{
    height: 275px;
}

.appoint-banner{
    width: 95%;
}
.img-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.abt-container{
    gap: 20px;
}

.rightt p {
    font-size: 17px;
}

.left .lef-3 {
    position: relative;
    top: 0px;
}

   .right div{
    padding-bottom: 30px;
    text-align: center;
   }
   .right button {
    margin: 0 auto;
}
   .right p{
    width: 100%;
   }
}




@media (max-width:600px) {
    .landing-container{
        flex-direction: column;
        justify-content: space-between;
        height: 120vh;
    }
    .left img{ 
        max-width: 124px;
        max-height: 240px; 
        margin-top: 0px;
   }
   .left .lef-2 {
    position: relative;
    bottom: 18px;
}

.testimonial {
    width: 90%;
}

.testi-one{
    height: 275px;
}

.appoint-banner{
    width: 95%;
}
.img-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.abt-container{
    gap: 20px;
}

.right h1{
    font-size: 29px;
}

.rightt p {
    font-size: 17px;
    
}

.left .lef-3 {
    position: relative;
    top: 0px;
}

   .right div{
    padding-bottom: 20px;
    text-align: center;
   }
   .right button {
    margin: 0 auto;
}
   .right p{
    width: 100%;
    font-size: 15px;
   }
}


@media (max-width: 400px) {
    .left img{
        max-width: 106px;
        max-height: 234px;
    }

    .right h1 {
        font-size: 23px;
    }

    .landing-container{
        justify-content: space-evenly
    }
}


